* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
  scroll-behavior: smooth;
}

/*------------------------------------*\
    #MAIN-CONTAINER
\*------------------------------------*/
.main-container {
  -webkit-filter: drop-shadow(0px 5px 5px #1a1a1a);
          filter: drop-shadow(0px 5px 5px #1a1a1a);
  margin: 0 auto;
  width: 1200px;
  /*------------------------------------*\
    #NAVBAR-CONTAINER
\*------------------------------------*/
  /*------------------------------------*\
    #TITLE-CONTAINER (MAIN)
\*------------------------------------*/
  /*------------------------------------*\
    #RECIPE-SECTION (Top Recipes)
\*------------------------------------*/
  /*------------------------------------*\
    #FORM-SECTION (Add a Recipe)
\*------------------------------------*/
  /*------------------------------------*\
    #FOOTER
\*------------------------------------*/
}

.main-container .navbar-container {
  background: transparent;
  border-bottom: 1px solid #1a1a1a;
  height: 50px;
  width: 100%;
}

.main-container .navbar-container .navbar-links {
  width: 100%;
}

.main-container .navbar-container .navbar-links:hover a {
  color: #999999;
}

.main-container .navbar-container .navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  list-style: none;
  text-decoration: none;
}

.main-container .navbar-container .navbar-links ul li {
  font-size: 18px;
  padding: 0 30px;
}

.main-container .navbar-container .navbar-links ul li a {
  color: #e6e6e6;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main-container .navbar-container .navbar-links ul li a:hover {
  color: #e6e6e6;
}

.main-container .title-container {
  border-bottom: 1px solid #333333;
  -webkit-filter: drop-shadow(0px 5px 5px #1a1a1a);
          filter: drop-shadow(0px 5px 5px #1a1a1a);
}

.main-container .title-container .bg {
  background-image: url("/IMG/6817673-spices-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  height: 650px;
}

.main-container .title-container .main-title {
  color: white;
  -webkit-filter: drop-shadow(3px 5px 2px #262626);
          filter: drop-shadow(3px 5px 2px #262626);
  left: 50%;
  letter-spacing: .1rem;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.main-container .title-container .main-title h1 {
  font-size: 8rem;
  font-weight: 300;
}

.main-container .title-container button {
  background: #661d1a;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 5px 2px #404040);
          filter: drop-shadow(0px 5px 2px #404040);
  font-size: 30px;
  left: 50%;
  letter-spacing: .1rem;
  opacity: .7;
  padding: 10px 15px;
  position: absolute;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main-container .title-container button:hover {
  background: #4e1613;
  -webkit-filter: drop-shadow(0px 0px 0px transparent);
          filter: drop-shadow(0px 0px 0px transparent);
  opacity: .8;
}

.main-container .recipes-container {
  background: #999999;
  border-bottom: 1px solid #0d0d0d;
  -webkit-box-shadow: 0px 2px 5px #0d0d0d;
          box-shadow: 0px 2px 5px #0d0d0d;
  height: auto;
  padding: 80px;
  width: 100%;
}

.main-container .recipes-container .recipes-title {
  color: #1a1a1a;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.main-container .recipes-container .recipes-body {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding: 10px;
}

.main-container .recipes-container .recipes-body .grid-item {
  border-radius: 10px;
  cursor: pointer;
  display: relative;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main-container .recipes-container .recipes-body .grid-item:hover {
  -webkit-filter: drop-shadow(0px 10px 5px #404040);
          filter: drop-shadow(0px 10px 5px #404040);
}

.main-container .recipes-container .recipes-body .recipe1 {
  background-image: url("/IMG/recipe1.jpg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe1 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe1 .hover-text:hover {
  opacity: 1;
}

.main-container .recipes-container .recipes-body .recipe2 {
  background-image: url("/IMG/recipe2.jpeg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe2 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe2 .hover-text:hover {
  opacity: 1;
}

.main-container .recipes-container .recipes-body .recipe3 {
  background-image: url("/IMG/recipe3.jpg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe3 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe3 .hover-text:hover {
  opacity: 1;
}

.main-container .recipes-container .recipes-body .recipe4 {
  background-image: url("/IMG/recipe4.jpg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe4 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe4 .hover-text:hover {
  opacity: 1;
}

.main-container .recipes-container .recipes-body .recipe5 {
  background-image: url("/IMG/recipe5.jpg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe5 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe5 .hover-text:hover {
  opacity: 1;
}

.main-container .recipes-container .recipes-body .recipe6 {
  background-image: url("/IMG/recipe6.jpg");
  background-size: cover;
}

.main-container .recipes-container .recipes-body .recipe6 .hover-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.main-container .recipes-container .recipes-body .recipe6 .hover-text:hover {
  opacity: 1;
}

.main-container .form-container {
  background: #bfbfbf;
  border-bottom: 1px solid #0d0d0d;
  height: auto;
  padding: 80px;
  width: 100%;
}

.main-container .form-container .form-title {
  color: #1a1a1a;
  font-size: 4rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.main-container .form-container form {
  padding: 50px 0;
}

.main-container .form-container form fieldset.main-fieldset {
  background: #d1d1d1;
  border-radius: 30px;
  border: 2px solid #3d120f;
  -webkit-box-shadow: 0px 2px 10px #3d120f;
          box-shadow: 0px 2px 10px #3d120f;
  padding: 50px 25px 0px;
}

.main-container .form-container form fieldset.main-fieldset .form-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  -ms-grid-rows: 75px 300px 75px;
      grid-template-rows: 75px 300px 75px;
}

.main-container .form-container form fieldset.main-fieldset .form-grid fieldset {
  border-radius: 25px;
  border: 3px solid #3d120f;
  -webkit-box-shadow: inset 0px -8px 20px -12px #3d120f;
          box-shadow: inset 0px -8px 20px -12px #3d120f;
  padding: 5px 20px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.main-container .form-container form fieldset.main-fieldset .form-grid legend {
  color: #661d1a;
  font-size: 22px;
  padding: 0 10px;
}

.main-container .form-container form fieldset.main-fieldset .form-grid input {
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
  color: #111;
  font-size: 22px;
  margin: 0;
  padding-left: 5px;
  position: relative;
  top: 0;
  width: 100%;
}

.main-container .form-container form fieldset.main-fieldset .form-grid input:focus {
  outline-style: none;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-name {
  -ms-grid-row: 1;
  grid-area: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-list {
  -ms-grid-row: 2;
  grid-area: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-list textarea[name="ingredient-list"] {
  background-color: transparent;
  border-color: transparent;
  color: #111;
  font-size: 22px;
  height: 230px;
  resize: none;
  width: 100%;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-list textarea[name="ingredient-list"]:focus {
  outline-style: none;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-inst textarea[name="instruction"] {
  background-color: transparent;
  border-color: transparent;
  border-radius: 2px;
  color: #111;
  font-size: 22px;
  -ms-grid-row: 2;
  grid-area: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 230px;
  padding: 5px;
  resize: none;
  width: 100%;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .recipe-inst textarea[name="instruction"]:focus {
  outline-style: none;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .add-link {
  color: white;
  -ms-grid-row: 3;
  grid-area: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .add-link input::-webkit-input-placeholder {
  color: #777;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .add-link input:-ms-input-placeholder {
  color: #777;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .add-link input::-ms-input-placeholder {
  color: #777;
}

.main-container .form-container form fieldset.main-fieldset .form-grid .add-link input::placeholder {
  color: #777;
}

.main-container .form-container form fieldset.main-fieldset input.form-button[type="submit"] {
  background: #661d1a;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 8px 5px #404040);
          filter: drop-shadow(0px 8px 5px #404040);
  font-size: 30px;
  left: 50%;
  letter-spacing: .1rem;
  opacity: .98;
  padding: 10px;
  position: relative;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  top: 60px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 25%;
}

.main-container .form-container form fieldset.main-fieldset input.form-button[type="submit"]:hover {
  background: #5a1a16;
  -webkit-filter: drop-shadow(0px 6px 5px #474747);
          filter: drop-shadow(0px 6px 5px #474747);
  opacity: 1;
}

.main-container footer.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: auto;
  }
  .recipes-container .recipes-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: (200px)[3] !important;
        grid-template-rows: repeat(3, 200px) !important;
  }
}

@media screen and (max-width: 730px) {
  .main-container {
    width: auto;
  }
  .recipes-container .recipes-title h1 {
    font-size: 3rem;
    position: static;
    text-align: center;
  }
  .recipes-container .recipes-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    -ms-grid-rows: (200px)[6] !important;
        grid-template-rows: repeat(6, 200px) !important;
    margin: 0 auto;
    width: 80%;
  }
  section.form-container {
    padding: 20px;
  }
  section.form-container h1.form-title {
    font-size: 3rem !important;
    padding-top: 30px;
    text-align: center;
  }
  section.form-container form.form fieldset.main-fieldset .form-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.form-container form.form fieldset.main-fieldset .form-grid fieldset {
    margin: 10px 0;
  }
  section.form-container form.form fieldset.main-fieldset .form-grid fieldset.recipe-list textarea {
    width: 100% !important;
  }
  section.form-container form.form fieldset.main-fieldset .form-grid input.form-button[type="submit"] {
    width: 155px !important;
  }
}

@media screen and (max-width: 540px) {
  .main-container {
    width: auto;
  }
  .navbar-links ul li {
    font-size: 1rem !important;
    padding: 0 8px !important;
  }
  .title-container .bg {
    height: 600px !important;
  }
  .title-container .main-title h1 {
    font-size: 5rem !important;
  }
  .recipes-container {
    padding: 100px 5% 80px !important;
  }
  .recipes-container .recipe-title h1 {
    font-size: 2rem !important;
  }
  .recipes-container .recipes-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    -ms-grid-rows: (200px)[6] !important;
        grid-template-rows: repeat(6, 200px) !important;
    margin: 0 auto;
    width: 100%;
  }
  section.form-container {
    padding: 5% !important;
  }
  section.form-container form.form fieldset.main-fieldset input::-webkit-input-placeholder {
    font-size: 15px;
  }
  section.form-container form.form fieldset.main-fieldset input:-ms-input-placeholder {
    font-size: 15px;
  }
  section.form-container form.form fieldset.main-fieldset input::-ms-input-placeholder {
    font-size: 15px;
  }
  section.form-container form.form fieldset.main-fieldset input::placeholder {
    font-size: 15px;
  }
  section.form-container form.form fieldset.main-fieldset input[type="submit"] {
    width: 155px !important;
  }
}

@media screen and (max-width: 480px) {
  .main-container .recipes-container recipe-title {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=styles.css.map */