@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Finger+Paint");

:root {
  --main-color: hsl(36, 74%, 75%);
  --hover-color: hsl(36, 74%, 80%);
  --button-color: hsl(3, 60%, 25%);
  --button-hover: hsl(3, 60%, 19%);
}

@font-face {
  font-family: Rustico;
  src: url(/Fonts/Rustico-Regular.otf);
}

@mixin centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-text() {
  @include centered();
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em;
  height: 101%;
  width: 101%;
  top: 0px;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  // &:hover,
  // .active {
  //   opacity: 1;
  // }
}

/* Sets the dimensions of the entire scrollbar */
html::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background-image: url("/IMG/fork.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  //* Colorful Scrollbar if fork doesn't work
  // background: -webkit-gradient(
  //   linear,
  //   left top,
  //   left bottom,
  //   from(white),
  //   to(var(--main-color))
  // );
  // background: linear-gradient(180deg, white, var(--main-color));
  // box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
  //   inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  // font-family: Rustico;
}

body {
  background: hsl(0, 0, 20);
  cursor: default;
  overflow-x: hidden;
  position: relative;
}
/*------------------------------------*\
    #MAIN-CONTAINER
\*------------------------------------*/
.main-container {
  filter: drop-shadow(0px 5px 5px hsl(0, 0, 10));
  margin: 0 auto;
  width: 1200px;
  position: relative;

  /*------------------------------------*\
    #NAVBAR-CONTAINER
\*------------------------------------*/

  // .navbar-container {
  //   filter: drop-shadow(0px 5px 2px hsl(0, 0, 10));
  //   border-bottom: 1px solid hsl(0, 0, 10);
  //   width: 100%;
  //   .navbar-links {
  //     &:hover a {
  //       color: hsl(0, 0, 60);
  //     }
  //     ul {
  //       @include centered();
  //       height: 50px;
  //       li {
  //         font-size: 18px;
  //         padding: 0 30px;
  //         a {
  //           color: hsl(0, 0, 90);
  //           letter-spacing: 0.1rem;
  //           text-transform: uppercase;
  //           transition: all 0.3s ease-in-out;
  //           &:hover {
  //             color: hsl(0, 0, 90);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  /*------------------------------------*\
    #TITLE-CONTAINER (MAIN)
\*------------------------------------*/

  .title-container {
    border-bottom: 5px solid hsl(0, 0, 0);
    filter: drop-shadow(0px 5px 5px hsl(0, 0, 10));
    // border-bottom: none;
    .bg {
      background-image: url("/IMG/6817673-spices-wallpaper.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: opacity(0.5);
      height: 94vh;
    }
    .navbar {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 10px;
      right: 20px;
      filter: drop-shadow(0px 5px 2px hsl(0, 0, 10));
      a {
        font-family: Rustico;
        font-size: 18px;
        color: white;
        letter-spacing: 0.1rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: hsl(36, 74%, 80%);
        }
      }
    }
    .main-title {
      color: rgb(255, 255, 255);
      letter-spacing: 0.1rem;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      h1 {
        // font-family: "Finger Paint", cursive;
        color: var(--main-color);
        filter: drop-shadow(0px 10px 5px hsl(0, 0, 5));
        font-family: Rustico;
        font-size: 10rem;
        font-weight: 300;
        line-height: 1.1;
      }
    }
    button {
      position: absolute;
      bottom: -60px;
      left: 50%;
      z-index: 1;
      // opacity: 0;
      background: var(--button-color);
      border-radius: 7px;
      cursor: pointer;
      font-size: 30px;
      padding: 10px 15px;
      transform: translate(-50%, -50%);
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      filter: drop-shadow(0px 4px 2px hsl(32, 75%, 18%));
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease-in-out;
      &:hover {
        background: var(--button-hover);
        filter: drop-shadow(0px 1px 1px hsl(32, 75%, 18%));
        opacity: 1;
        // box-shadow: none;
      }
      a {
        color: white;
      }
      // /button
    }
    // /.title-container
  }

  /*------------------------------------*\
    #About-SECTION 
\*------------------------------------*/
  .about-section {
    z-index: -1;
    position: relative;
    // width: 100%;
    height: 28rem;
    // background: hsl(36, 75%, 85%);
    background: var(--main-color);
    // background-image: url("/IMG/aboutBg.jpg");
    // background-image: url("/IMG/aboutBgRedWood.jpg");
    // background-image: url("/IMG/brickWallMoss.jpg");
    // background-image: url("/IMG/brickwall1.jpg");
    // background-image: url("/IMG/yellowbrickwall.jpg");
    background-image: url("/IMG/Wood-Grain.jpg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
    .boardContainer {
      // filter: drop-shadow(0px 15px 15px hsl(32, 75%, 5%));
      filter: drop-shadow(0px 15px 15px hsl(0, 0, 5));
      // filter: drop-shadow(10px 20px 10px hsl(0, 0%, 10%));
      text-shadow: 0px 1px 1.8px hsl(3, 60, 5);
      // text-shadow: 0px 4px 10px 5px hsl(3, 60, 15);
      .backboard {
        height: 400px;
        color: blue;
        background-image: url("/IMG/woodSign2.png");
        background-position: center;
        background-size: 122%;
        background-repeat: no-repeat;
        p {
          text-shadow: 0px 1px 0px hsl(28, 32%, 16%),
            0px -1px 0px rgba(0, 0, 0, 1);
          // text-shadow: 0px 0.5px 0px hsl(28, 32%, 16%),
          //   0px -0.5px 0px rgba(0, 0, 0, 1);

          letter-spacing: 1px;
          position: relative;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: Rustico;
          font-size: 1.7rem;
          text-align: center;
          // color: hsl(28, 32%, 30%);
          color: transparent;
        }
        p:nth-child(2) {
          margin-top: 20px;
        }
      }
    }
  }

  /*------------------------------------*\
    #RECIPE-SECTION (Top Recipes)
\*------------------------------------*/
  //! original
  .topRecipes-container {
    // background: var(--main-color);
    // background: #d4d8f0; //light blue
    // background: #271c19; // brown
    // background: #fffffe; //white
    background: #fbdd74;
    border-bottom: 5px solid hsl(0, 0, 0.5);
    box-shadow: 0px 2px 5px hsl(0, 0, 0.5);
    height: auto;
    padding: 10px 0 40px;
    width: 100%;
    overflow: hidden;
    // position: relative;
    .topRecipes-title {
      text-align: center;
      margin: 0;
      h1 {
        // color: hsl(0, 0, 10);
        // color: #6e5c42;
        // color: hsl(25, 100%, 15%);
        color: #3b341b;
        font-family: Rustico;
        font-size: 6rem;
        font-weight: 300;
        height: 150px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
          0px -1px 0px rgba(0, 0, 0, 0.7);
      }
    }
    .topRecipes-body {
      width: 100%;
      padding: 10px;
      overflow: hidden;

      .recipeItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .top-grid-item {
          width: 300px;
          height: 200px;
          margin: 10px;
          background-size: cover;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          border: 2px solid black;
          cursor: pointer;
          &:hover {
            border-radius: 10px;
            filter: drop-shadow(0px 10px 5px hsl(32, 75%, 28%));
          }
          .hover-text {
            @include hover-text();
            &:hover {
              opacity: 1;
            }
          }
          .active {
            @include hover-text();
            opacity: 1;
          }
        }
        .recipe1 {
          background-image: url("/IMG/recipe1.jpg");
        }
        .recipe2 {
          background-image: url("/IMG/recipe2.jpeg");
        }
        .recipe3 {
          background-image: url("/IMG/recipe3.jpg");
        }
        .recipe4 {
          background-image: url("/IMG/recipe4.jpg");
        }
        .recipe5 {
          background-image: url("/IMG/recipe5.jpg");
        }
        .recipe6 {
          background-image: url("/IMG/recipe6.jpg");
        }
      }
    }
  }

  /*------------------------------------*\
    Instagram API
\*------------------------------------*/

  .instagram {
    background: white;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 5px solid hsl(0, 0, 0);
  }

  /*------------------------------------*\
    #Main Recipes (Add a Recipe)
\*------------------------------------*/

  .recipes-container {
    // background: var(--main-color);
    // background: hsl(0, 59%, 30%);
    // background: hsl(26, 90%, 70%);
    background: hsl(17, 100%, 80%);
    position: relative;
    z-index: -1;
    border-bottom: 5px solid hsl(0, 0, 0.5);
    box-shadow: 0px 2px 5px hsl(0, 0, 0.5);
    height: auto;
    // height: 100vh;
    padding: 0 0 40px;
    width: 100%;
    overflow: hidden;
    .recipes-title {
      text-align: center;
      margin: 0;
      h1 {
        // color: hsl(0, 0, 10);
        // color: hsl(0, 0%, 95%);
        color: hsl(17, 37%, 40%);
        font-family: Rustico;
        font-size: 7rem;
        font-weight: 300;
        height: 180px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
          0px -1px 0px rgba(0, 0, 0, 0.7);
      }
    }
    .recipe-arrows {
      position: absolute;
      width: 100%;
      top: 55%;
      .prev,
      .next {
        // color: hsl(0, 0%, 95%);
        color: hsl(17, 37%, 40%);
        font-family: Rustico;
        font-size: 4rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        &:hover {
          // background-color: hsl(36, 74%, 60%);
          // background-color: hsl(17, 100%, 65%);
          background: hsl(17, 100%, 75%);
        }
      }
      .prev-arrow {
        float: left;
        padding-left: 2vw;
      }
      .next-arrow {
        float: right;
        padding-right: 2vw;
      }
    }
    .recipes-body {
      display: grid;
      grid-gap: 20px;
      width: 80%;
      margin: auto;
      grid-template-columns: repeat(7, 300px);
      grid-template-rows: repeat(2, 150px);
      justify-content: center;
      margin-top: 10px;
      padding: 0 0 20px;
      overflow: hidden;
      .grid-item {
        position: relative;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        &:hover {
          // filter: drop-shadow(0px 10px 5px hsl(17, 100%, 60%));
          // filter: drop-shadow(0px 10px 5px hsl(15, 72%, 63%));
          filter: drop-shadow(0px 10px 5px hsl(17, 37%, 40%));
        }
        .hover-text {
          @include hover-text();
          &:hover {
            opacity: 1;
          }
        }
        .active {
          @include hover-text();
          opacity: 1;
        }
      }
      .recipe1 {
        background-image: url("/IMG/recipe1.jpg");
      }
      .recipe2 {
        background-image: url("/IMG/recipe2.jpeg");
      }
      .recipe3 {
        background-image: url("/IMG/recipe3.jpg");
      }
      .recipe4 {
        background-image: url("/IMG/recipe4.jpg");
      }
      .recipe5 {
        background-image: url("/IMG/recipe5.jpg");
      }
      .recipe6 {
        background-image: url("/IMG/recipe6.jpg");
      }
      .recipe7 {
        background-image: url("/IMG/recipe3.jpg");
      }
      .recipe8 {
        background-image: url("/IMG/recipe4.jpg");
      }
      .recipe9 {
        background-image: url("/IMG/recipe5.jpg");
      }
      .recipe10 {
        background-image: url("/IMG/recipe6.jpg");
      }
      .recipe11 {
        background-image: url("/IMG/recipe5.jpg");
      }
      .recipe12 {
        background-image: url("/IMG/recipe6.jpg");
      }
      .recipe13 {
        background-image: url("/IMG/recipe5.jpg");
      }
      .recipe14 {
        background-image: url("/IMG/recipe6.jpg");
      }
    }
    .pagination-wrapper {
      width: 100%;
      // margin: 15px 0 0;
      .pagination {
        text-align: center;
        span {
          display: inline-block;
          position: relative;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin: 0 2px;
          &:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            // background: hsl(0, 0%, 95%);
            background: hsl(17, 37%, 40%);
            border-radius: 50%;
          }
          &.active {
            // border: 2px solid hsl(36, 79%, 63%);
            // background: hsl(0, 0%, 95%);
            background: hsl(17, 37%, 40%);
          }
        }
      }
    }
  }

  /*------------------------------------*\
    #FORM-SECTION (Add a Recipe)
\*------------------------------------*/

  .form-container {
    background-image: url("/IMG/form-bg.jpg");
    background-position: left;
    background-size: cover;
    border-bottom: 4px solid hsl(0, 0, 0.5);
    // height: auto;
    width: 100%;
    // .form-title {
    //   color: hsl(0, 0, 10);
    //   font-size: 4rem;
    //   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    //     0px -1px 0px rgba(0, 0, 0, 0.7);
    // }
    form {
      padding: 3rem 0;
      fieldset.mainFieldset {
        background-image: url("/IMG/Wood-Grain.jpg");
        background-position: center;
        border-radius: 30px;
        border: 2px solid hsl(3, 60, 15);
        filter: drop-shadow(0px 6px 5px hsl(0, 0, 5));
        left: 35%;
        padding: 40px 25px 0px;
        position: relative;
        width: 60%;
        .form-grid {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 1fr;
          grid-template-rows: 75px 75px 250px;

          fieldset {
            border-radius: 25px;
            border: 3px solid hsl(28, 32%, 20%);
            box-shadow: inset 0px -8px 20px -10px hsl(3, 60, 15);
            filter: saturate(2);
            padding: 5px 20px;
            transition: color 0.3s ease-in-out;
            :nth-last-child(2) {
              grid-template-columns: 100%;
            }
          }
          legend {
            // color: hsl(3,60,25);
            color: hsl(28, 32%, 10%);
            filter: saturate(2);
            font-family: "Gloria Hallelujah", cursive;
            font-size: 22px;
            font-weight: 600;
            padding: 0 10px;
            position: relative;
            top: -5px;
          }
          input {
            background-color: transparent;
            border-color: transparent;
            // border-radius: 10px;
            color: hsl(28, 32%, 10%);
            font-size: 22px;
            font-weight: 600;
            margin: 0;
            padding-left: 5px;
            position: relative;
            // background: purple;
            width: 100%;
            &:focus {
              outline-style: none;
            }
          }
          .userName {
            grid-area: 1;
            grid-column: 1 / 2;
            input {
              top: -15px;
            }
          }
          .userEmail {
            grid-area: 1;
            grid-column: 2 / 3;
            input {
              top: -30px;
            }
          }
          .emailSubject {
            grid-area: 2;
            grid-column: 1 / 3;
            input[name="emailSubject"] {
              background-color: transparent;
              border-color: transparent;
              border-radius: 2px;
              color: hsl(28, 32%, 10%);
              font-size: 22px;
              font-weight: 600;
              height: 30px;
              position: relative;
              // background: blue;
              resize: none;
              top: -30px;
              width: 100%;
              &:focus {
                outline-style: none;
              }
            }
          }
          .emailMessage {
            grid-area: 3;
            grid-column: 1 / 3;
          }
          .emailMessage {
            grid-area: 3;
            grid-column: 1 / 3;
            textarea[name="emailMessage"] {
              background-color: transparent;
              border-color: transparent;
              border-radius: 2px;
              color: hsl(28, 32%, 10%);
              // background: blue;
              font-size: 22px;
              font-weight: 600;
              height: 12rem;
              position: relative;
              resize: none;
              top: -25px;
              width: 100%;
              // border-radius: 20px;

              &:focus {
                outline-style: none;
              }
            }
          }
          input::placeholder {
            color: hsl(28, 32%, 10%);
            font-size: 2rem;
          }
        }
        // /.form-grid

        //SUBMIT BUTTON
        input.form-button[type="submit"] {
          // box-shadow: 0px 2px 10px hsl(3,60,15);
          // filter: drop-shadow(0px 6px 4px hsl(3,60,15));
          background: var(--button-color);
          border-radius: 7px;
          color: white;
          cursor: pointer;
          filter: drop-shadow(0px 4px 2px hsl(0, 0, 5));
          font-size: 30px;
          left: 50%;
          letter-spacing: 0.1rem;
          opacity: 0.98;
          padding: 10px;
          position: relative;
          text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
            0px -1px 0px rgba(0, 0, 0, 0.7);
          text-transform: uppercase;
          top: 60px;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: var(--button-hover);
            // filter: drop-shadow(0px 3px 4px hsl(3,60,15));
            // filter: drop-shadow(0px 2px 2px hsl(17, 12%, 20%));
            filter: drop-shadow(0px 1px 1px hsl(0, 0, 5));
            opacity: 1;
          }
          // /Submit Button
        }
        // /fieldset
      }
      // /form
    }
    // /.form-container
  }

  /*------------------------------------*\
    #FOOTER
\*------------------------------------*/

  footer.footer {
    align-items: center;
    background: transparent;
    color: rgb(255, 255, 255);
    display: flex;
    height: 50px;
    justify-content: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 100%;
  }

  // /.main-container
}

.overlayModal {
  position: absolute;
  z-index: 100;
  display: none;
  border-radius: 17px;
  .overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 100%;
    overflow: auto;
    .recipeTemplate {
      display: grid;
      grid: 1fr 1fr 4fr 4fr/ 1fr;
      row-gap: 10px;
      height: 100%;
      width: 100%;
      h1 {
        color: var(--hover-color);
        text-align: center;
        text-shadow: 0px 1px 3px hsl(36, 74%, 15%);
        font-size: 3rem;
        grid-row: 1;
        padding-bottom: 10px;
      }
      p {
        margin: 0 auto;
        text-align: justify;
        grid-row: 2;
        padding: 0;
      }
      .recipeIngredients {
        grid-row: 3;
      }
      .recipeInstructions {
        grid-row: 4;
      }
      .recipeIngredients,
      .recipeInstructions {
        border-top: 2px solid black;
        padding: 2rem 3rem;
        line-height: 1.5rem;
        h3 {
          padding-bottom: 0.8rem;
        }
      }
    }
  }
  // height: 100%;
}

// .overlayTitle {
//   color: black;
//   width: 50%;
// }
// .burgerMenu {
//   font-size: 2rem;
//   position: relative;
//   top: 10px;
//   right: 10px;
//   float: right;
//   cursor: pointer;
// }
// }
// .overlayBlur {
//   display: none;
//   position: fixed;
//   z-index: 990;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

.activeOverlay,
.mobileOverlay {
  overflow: hidden;
  position: fixed;
  z-index: 999;
  width: 50rem;
  // width: 100%;
  max-width: 100%;
  // height: 30rem;
  height: 100vh;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 10px 15px hsl(0, 20%, 10%);
  .print {
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    font-size: 2rem;
    position: inherit;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    background-image: url("../IMG/print.svg");
    cursor: pointer;
    letter-spacing: 0.1rem;
  }
  .closeBtnBg {
    box-shadow: 0px 1px 3px hsl(36, 74%, 15%);
    z-index: 100;
    width: 55px;
    height: 55px;
    background: var(--hover-color);
    border-radius: 15px;
    position: inherit;
    left: -10px;
    top: -10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 2px hsl(36, 74%, 15%);
      background: var(--main-color);
      cursor: pointer;
    }
    .closeBtn {
      position: inherit;
      left: 10px;
      top: 6px;
      font-size: 1.8rem;
      width: 20px;
      height: auto;
      color: white;
    }
  }
  // .mobileOverlay {
  //   position: absolute;
  //   z-index: 999;
  //   width: 100%;
  //   height: 100%;
  //   scroll-behavior: none;
  //   top: 0;
  //   left: 50%;
}

.blur {
  overflow: hidden;
  padding-right: 15px; /* Avoid width reflow */

  // display: none;
  // position: fixed;
  // left: 0;
  // top: 0;
  // width: 100%;
  height: 100vh;
  // z-index: 900;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

//========================================================
// RESPONSIVE MEDIA

@media print {
  body * {
    visibility: hidden;
    font: 16pt serif;
    line-height: 1.5;
  }
  @page {
    margin: 5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: fixed;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: auto;
  }
  .title-container {
    .main-title h1.title {
      font-size: 8.5rem;
      // line-height: 1.1;
    }
  }

  .about-section {
    .boardContainer {
      .backboard {
        background-size: 80rem !important;

        p {
          font-size: 1.4rem !important;
        }
      }
    }
  }

  .recipes-container {
    .recipes-title {
      text-align: center;
    }

    .recipes-body {
      width: 47rem !important;
      display: grid;
      grid-template-columns: repeat(7, 230px) !important;
      grid-template-rows: repeat(2, 160px) !important;
      .grid-item {
        &:hover {
          filter: drop-shadow(0px 5px 5px hsl(17, 100%, 60%)) !important;
        }
      }
    }
  }

  .form-container {
    form {
      fieldset.mainFieldset {
        // background-position: center;
        left: 45% !important;
        width: 50% !important;
        // left: 50% !important;
        // transform: translate(-50%, 0);
        // .form-grid fieldset:nth-last-child(2) {
        // background: blue;
        // grid-template-columns: 100% !important;
        // width: 45vw !important;
        // }
        .form-grid {
          grid-template-rows: 75px 75px 75px 250px !important;
          .userName {
            grid-area: 1 !important;
            grid-column: 1 / 3 !important;
            input {
              top: -15px;
            }
          }
          .userEmail {
            grid-area: 2 !important;
            grid-column: 1 / 3 !important;
            input {
              top: -30px;
            }
          }
          .emailSubject {
            grid-area: 3 !important;
            grid-column: 1 / 3 !important;
          }
          .emailMessage {
            grid-area: 4 !important;
            grid-column: 1 / 3 !important;
          }
          // /fieldset
        }
      }
    }
    .form-button {
      width: 9rem !important;
    }
  }

  // /Media (1200px)
}

@media screen and (max-width: 970px) {
  // .recipes-body {
  //   width: 70%;
  //   display: grid;
  //   grid-template-columns: repeat(7, 200px) !important;
  //   grid-template-rows: repeat(2, 200px) !important;
  // }
}

@media screen and (max-width: 900px) {
  .about-section {
    .boardContainer {
      .backboard {
        background-size: 80rem !important;
        p {
          font-size: 1.4rem !important;
        }
      }
    }
  }
  .topRecipes-body {
    .top-grid-item {
      // width: 45% !important;
      .hover-text {
        @include centered();
        background-color: rgba(0, 0, 0, 0.8) !important;
        border-radius: 10px;
        color: #fff;
        font-size: 1.1em;
        height: 25% !important;
        width: 100.5% !important;
        top: 76% !important;
        left: 0px;
        opacity: 100% !important ;
        padding: 10px 20px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
      }
    }
  }

  .recipes-container {
    .recipes-title {
      text-align: center;
    }
    .recipes-body {
      width: 42rem !important;
      display: grid;
      grid-template-columns: repeat(7, 200px) !important;
      grid-template-rows: repeat(2, 150px) !important;
    }
  }

  .recipe-arrows {
    .prev-arrow {
      float: left;
      padding-left: 0px !important;
    }
    .next-arrow {
      float: right;
      padding-right: 0px !important;
    }
  }
  // /@media(900px)
}

@media screen and (max-width: 800px) {
  section.about-section {
    background-size: 50rem !important;
    // height: 15rem;
    div.boardContainer {
      div.backboard {
        background-size: 80rem !important;
        // height: auto !important;
        // width: 100% !important;
        p {
          font-size: 1.4rem !important;
        }
      }
    }
  }
  // .topRecipes-body {
  //   .top-grid-item {
  //     // width: 45% !important;
  //     .hover-text {
  //       @include centered();
  //       background-color: rgba(0, 0, 0, 0.9) !important;
  //       border-radius: 10px;
  //       color: #fff;
  //       font-size: 1.1em;
  //       height: 25% !important;
  //       width: 100.5% !important;
  //       top: 76% !important;
  //       left: 0px;
  //       opacity: 100% !important ;
  //       padding: 10px 20px;
  //       position: relative;
  //       text-align: center;
  //       text-transform: uppercase;
  //       transition: 0.4s ease-in-out;
  //     }
  //   }
  // }
  .form-container {
    background-position: right !important;
    form {
      fieldset.mainFieldset {
        left: 50% !important;
        transform: translate(-50%, 0) !important;
        width: 80% !important;
        // .form-grid fieldset:nth-last-child(2) {
        // background: blue;
        // grid-template-columns: 100% !important;
        // }
        // /fieldset
      }
      // /form
    }
    .form-button {
      width: 9rem !important;
    }
  }
}

@media screen and (max-width: 745px) {
  .title-container {
    .main-title h1.title {
      font-size: 6rem;
    }
  }
  section.about-section {
    height: auto !important;
    div.boardContainer {
      div.backboard {
        height: 22rem !important;
        background-size: 70rem !important;
        p {
          font-size: 1.2rem !important;
        }
      }
    }
  }

  .topRecipes-container {
    .topRecipes-title {
      h1 {
        font-size: 5rem !important;
        height: 120px !important;
      }
    }
    // .topRecipes-body {
    // margin-top: 0px !important;
    // .top-grid-item {
    //   // width: 45% !important;
    //   .hover-text {
    //     @include centered();
    //     background-color: rgba(0, 0, 0, 0.9) !important;
    //     border-radius: 10px;
    //     color: #fff;
    //     font-size: 1.1em;
    //     height: 25% !important;
    //     width: 100.5% !important;
    //     top: 76% !important;
    //     left: 0px;
    //     opacity: 100% !important ;
    //     padding: 10px 20px;
    //     position: relative;
    //     text-align: center;
    //     text-transform: uppercase;
    //     transition: 0.4s ease-in-out;
    //   }
    // }
    // }
  }

  .recipes-container {
    // padding: 80px 150px !important;
    .recipes-title h1 {
      font-size: 5rem;
      position: static;
      text-align: center;
    }
    .recipe-arrows {
      display: none;
    }

    .recipes-body {
      display: grid;
      // padding: 0 20px !important;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(7, 150px) !important;
      // margin: 0 auto;
      width: 90% !important;
    }
    .pagination-wrapper {
      display: none;
    }
  }

  .overlayModal {
    .overlayContent {
      .recipeTemplate {
        h1 {
          margin-top: 1.5rem;
          font-size: 2.4rem;
        }
      }
    }
  }

  // section.form-container {
  //   form.form {
  //     fieldset.main-fieldset {
  //       .form-grid {
  //         input.form-button[type="submit"] {
  //           // width: 155px !important;
  //           // top: 150px !important;
  //         }
  //         // /.form-grid
  //       }
  //       // /fieldset
  //     }
  //     // /form
  //   }
  //   // /form-container
  // }
  // /Media (720px)
}

@media screen and (max-width: 560px) {
  .main-container {
    width: auto;
    // padding: 0 !important;
    .navbar-links {
      ul {
        li {
          font-size: 1rem !important;
          padding: 0 8px !important;
        }
      }
    }
    .title-container {
      .bg {
        height: 85vh !important;
      }
      .main-title h1.title {
        font-size: 5rem !important;
        // line-height: 1.1;
      }
    }

    section.about-section {
      height: 22rem !important;
      // p {
      // display: block;
      // text-shadow: 0px 1px 0px hsl(28, 32%, 16%),
      //   0px -1px 0px rgba(0, 0, 0, 1);
      // letter-spacing: 1px;
      // position: relative;
      // top: 45%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // font-family: Rustico;
      // font-size: 0.1rem !important;
      // text-align: center;
      // color: transparent;
      // }

      div.boardContainer {
        div.backboard {
          // display: none;
          height: 20rem !important;
          background-size: 210% !important;
          p {
            font-size: 1rem !important;
            letter-spacing: 1.2px !important;
            text-shadow: 0px 0.5px 0px hsl(28, 32%, 16%),
              0px -0.5px 0px rgba(0, 0, 0, 1);
          }
        }
      }
    }

    .topRecipes-container {
      .topRecipes-title {
        h1 {
          font-size: 4.8rem !important;
        }
      }
      .topRecipes-body {
        // margin-top: 0px !important;
        .grid-item {
          width: 70% !important;
          height: 150px !important;
        }
      }
    }

    .recipes-container {
      height: 100% !important;
      // padding: 80px 150px !important;
      // padding-top: 10px !important;
      .recipes-title h1 {
        font-size: 5rem;
        position: static;
        text-align: center;
        height: 130px !important;
      }
      .recipe-arrows {
        display: none;
      }

      .recipes-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(7, 150px) !important;
        grid-gap: 10px !important;
        margin: 0 auto;
        width: 95% !important;
      }
      .pagination-wrapper {
        display: none;
      }
    }

    section.form-container {
      // padding: 5% !important;
      form.form {
        // width: 100vw !important;
        width: 100% !important;
        fieldset.main-fieldset {
          left: 50% !important;
          transform: translate(-50%, 0) !important;

          background-position: right !important;

          // width: 100% !important;
          input::placeholder {
            font-size: 15px;
          }
          input[type="submit"] {
            width: 155px !important;
            // top: 96% !important;
          }
        }
        // /form
      }
      // /.form-container
    }

    // .overlayModal {
    //   .overlayContent {
    //     .recipeTemplate {
    //       h1 {
    //         font-size: 1rem !important;
    //       }
    //     }
    //   }
    // }
  }

  // /Media (540px)
}

@media screen and (max-width: 480px) {
  // top-recipes {
  //   .recipes-container {
  //     .recipe-title {
  //       h1 {
  //         font-size: 0.4rem !important;
  //         line-height: 0.4 !important;
  //       }
  //     }
  //   }
  // }
  // /Media (480px)
}

//! ORIGINAL FORM CSS
// --------------------------------------

// .form-container {
//   // background: hsl(0,0,75);
//   // background: #F1C98E;
//   // background: hsl(18, 36%, 70%);
//   // padding: 80px 20px 80px 150px;
//   background-image: url('/IMG/form-bg.jpg');
//   background-position: center;
//   background-size: cover;
//   border-bottom: 4px solid hsl(0, 0, 0.5);
//   height: auto;
//   width: 100%;
//   .form-title {
//     color: hsl(0, 0, 10);
//     font-size: 4rem;
//     text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
//       0px -1px 0px rgba(0, 0, 0, 0.7);
//   }
//   form {
//     padding: 3rem 0;
//     fieldset.mainFieldset {
//       // background: hsl(0,0,82);
//       // background: hsl(18, 28%, 65%);
//       background-image: url('/IMG/Wood-Grain.jpg');
//       background-position: center;
//       border-radius: 30px;
//       border: 2px solid hsl(3, 60, 15);
//       filter: drop-shadow(0px 6px 5px hsl(0, 0, 5));
//       left: 35%;
//       padding: 40px 25px 0px;
//       position: relative;
//       top: -5px;
//       width: 60%;
//       .form-grid {
//         display: grid;
//         grid-gap: 20px;
//         grid-template-columns: 250px auto;
//         grid-template-rows: 75px 300px 75px;
//         fieldset {
//           // border: 3px solid hsl(3,60,15);
//           // box-shadow: inset 0px -8px 20px -10px rgba(0,0,0,0.75);
//           // filter: contrast(5%);
//           border-radius: 25px;
//           border: 3px solid hsl(28, 32%, 20%);
//           box-shadow: inset 0px -8px 20px -10px hsl(3, 60, 15);
//           filter: saturate(2);
//           padding: 5px 20px;
//           transition: color 0.3s ease-in-out;
//         }
//         legend {
//           // color: hsl(3,60,25);
//           color: hsl(28, 32%, 10%);
//           filter: saturate(2);
//           font-family: 'Gloria Hallelujah', cursive;
//           font-size: 22px;
//           font-weight: 600;
//           // font-family: 'Indie Flower', cursive;
//           padding: 0 10px;
//           position: relative;
//           top: -5px;
//         }
//         input {
//           // color: #111;
//           background-color: transparent;
//           border-color: transparent;
//           border-radius: 10px;
//           color: hsl(28, 32%, 10%);
//           font-size: 22px;
//           font-weight: 600;
//           margin: 0;
//           padding-left: 5px;
//           position: relative;
//           top: -10px;
//           width: 100%;
//           &:focus {
//             outline-style: none;
//           }
//         }
//         .recipeName {
//           grid-area: 1;
//           grid-column: 1 / 3;
//         }
//         .recipeList {
//           grid-area: 2;
//           grid-column: 1 / 2;
//           textarea {
//             // color: #111;
//             background-color: transparent;
//             border-color: transparent;
//             color: hsl(28, 32%, 10%);
//             font-size: 22px;
//             font-weight: 600;
//             height: 230px;
//             position: relative;
//             resize: none;
//             top: -15px;
//             width: 100%;
//             &:focus {
//               outline-style: none;
//             }
//           }
//         }
//         .recipeInst {
//           textarea[name='instruction'] {
//             // background: rgb(223, 223, 223);
//             // color: #111;
//             // margin: 10px 0 30px;
//             background-color: transparent;
//             border-color: transparent;
//             border-radius: 2px;
//             color: hsl(28, 32%, 10%);
//             font-size: 22px;
//             font-weight: 600;
//             grid-area: 2;
//             grid-column: 2 / 3;
//             height: 230px;
//             position: relative;
//             resize: none;
//             top: -15px;
//             width: 100%;
//             &:focus {
//               outline-style: none;
//             }
//           }
//         }
//         // Add-Link Input
//         .addLink {
//           color: white;
//           grid-area: 3;
//           grid-column: 1 / 2;
//           input::placeholder {
//             color: hsl(28, 32%, 10%);
//           }
//         }
//         .file {
//           cursor: pointer;
//           color: hsl(28, 32%, 10%);
//           grid-area: 3;
//           grid-column: 2 / 3;
//           input[type='file'] {
//             // display: none;
//             // position: absolute;
//             // width: 1px;
//             // height: 1px;
//             // padding: 0;
//             // margin: -1px;
//             // overflow: hidden;
//             // clip: rect(0, 0, 0, 0);
//             // border: 0;
//           }
//           input::placeholder {
//             color: hsl(28, 32%, 10%);
//             font-size: 2rem;
//           }
//           // i {
//           //   position: relative;
//           //   top: -5px;
//           //   span {
//           //     font-size: 1.2rem;
//           //     padding-left: 10px;
//           //     font-weight: bold;
//           //   }
//           // }
//           // .custom-file-upload {
//           //   border: 1px solid #ccc;
//           //   display: inline-block;
//           //   padding: 6px 12px;
//           //   cursor: pointer;
//           // }
//         }
//         // /.form-grid
//       }
//       //SUBMIT BUTTON
//       input.form-button[type='submit'] {
//         // box-shadow: 0px 2px 10px hsl(3,60,15);
//         // filter: drop-shadow(0px 6px 4px hsl(3,60,15));
//         background: hsl(3, 60, 25);
//         border-radius: 7px;
//         color: white;
//         cursor: pointer;
//         filter: drop-shadow(0px 4px 2px hsl(0, 0, 5));
//         font-size: 30px;
//         left: 50%;
//         letter-spacing: 0.1rem;
//         opacity: 0.98;
//         padding: 10px;
//         position: relative;
//         text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
//           0px -1px 0px rgba(0, 0, 0, 0.7);
//         text-transform: uppercase;
//         top: 60px;
//         transform: translate(-50%, -50%);
//         transition: all 0.3s ease-in-out;
//         width: 25%;
//         &:hover {
//           background: hsl(3, 60, 22);
//           // filter: drop-shadow(0px 3px 4px hsl(3,60,15));
//           // filter: drop-shadow(0px 2px 2px hsl(17, 12%, 20%));
//           filter: drop-shadow(0px 1px 1px hsl(0, 0, 5));
//           opacity: 1;
//         }
//         // /Submit Button
//       }
//       // /fieldset
//     }
//     // /form
//   }
//   // /.form-container
// }
