@mixin centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-text() {
  @include centered(); 
  // top: 120px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 1.1em; 
  height: 100%;
  left: 0px;
  opacity: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  transition: .4s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin:  0;
  padding: 0;
}

body {
  background: hsl(0,0,20);
  scroll-behavior: smooth;
}
/*------------------------------------*\
    #MAIN-CONTAINER
\*------------------------------------*/
.main-container {
  filter: drop-shadow(0px 5px 5px hsl(0,0,10));
  margin: 0 auto;
  width:  1200px;


  /*------------------------------------*\
    #NAVBAR-CONTAINER
\*------------------------------------*/

  .navbar-container {
    // filter: drop-shadow(0px 5px 2px hsl(0,0,10));
    background: hsl(0,0,20);
    border-bottom: 1px solid hsl(0,0,10);
    height: 50px;
    width:  100%;
    .navbar-links {
      width: 100%;
      &:hover a {
        color: hsl(0,0,60);
      }
      ul {
        @include centered();
        height: 50px;
        list-style: none;
        text-decoration: none;
        
        li {
          // align-self: center;
          font-size: 18px;
          padding: 0 30px;
          a {
            color: hsl(0,0,90);
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            &:hover {
                color: hsl(0,0,90);
            }
          }
        // /li    
        }
      // /ul    
      }
    // /.navbar-links
    }
  // /.navbar-container
  }


  /*------------------------------------*\
    #TITLE-CONTAINER (MAIN)
\*------------------------------------*/

  .title-container {
    border-bottom: 1px solid hsl(0,0,20);
    filter: drop-shadow(0px 5px 5px hsl(0,0,10));
    .bg {
      background-image: url("/IMG/6817673-spices-wallpaper.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: opacity(.5);
      height: 650px;
    }
    .main-title {
      color: rgb(255,255,255);
      filter: drop-shadow(3px 5px 2px hsl(0,0,15));
      left: 50%;
      letter-spacing: .1rem;
      position: absolute;
      text-align: center;
      top:  50%;
      transform: translate(-50%, -50%);
      width: 100%;
      h1 {
        // font-family: serif;
        font-size:   8rem;
        font-weight: 300;
      }
    // /.title
    }
    button {
      background: hsl(3,60,25);
      border-radius: 7px;
      color: white;
      cursor: pointer;
      filter: drop-shadow(0px 5px 2px hsl(0,0,25));
      font-size: 30px;
      left: 50%;
      letter-spacing: .1rem;
      opacity: .7;
      padding: 10px 15px;
      position: absolute;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      transition: all .3s ease-in-out;
      &:hover {
        background: hsl(3,60,19);
        filter: drop-shadow(0px 0px 0px transparent);
        opacity: .8;
        // box-shadow: none;
      }
    // /button
    }
  // /.title-container
  }

  /*------------------------------------*\
    #RECIPE-SECTION (Top Recipes)
\*------------------------------------*/

  .recipes-container {
    background: hsl(0,0,60);
    border-bottom: 1px solid hsl(0,0,5);
    box-shadow: 0px 2px 5px hsl(0,0,5);
    height: auto;
    padding: 80px;
    width:  100%;
    .recipes-title {
      // position: absolute;
      color: hsl(0,0,10);
      font-size: 3rem;
      font-weight: 300;
      margin: 0;
    }
    .recipes-body {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(2, 200px);
      justify-content: center;
      margin-top: 30px;
      padding: 10px;
      .grid-item {
        // padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        display: relative;
        text-decoration: none;
        transition: all .3s ease-in-out;
        &:hover {
          filter: drop-shadow(0px 10px 5px hsl(0,0,25));
        }
      }
      .recipe1 {
        background-image: url("/IMG/recipe1.jpg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
      .recipe2 {
        background-image: url("/IMG/recipe2.jpeg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
    .recipe3 {
        background-image: url("/IMG/recipe3.jpg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
      .recipe4 {
        background-image: url("/IMG/recipe4.jpg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
      .recipe5 {
        background-image: url("/IMG/recipe5.jpg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
      .recipe6 {
        background-image: url("/IMG/recipe6.jpg");
        background-size: cover;
        .hover-text {
          @include hover-text();
        }
      }
    }
  }

  /*------------------------------------*\
    #FORM-SECTION (Add a Recipe)
\*------------------------------------*/

  .form-container {
    background: hsl(0,0,40);
    border-bottom: 1px solid hsl(0,0,5);
    height: auto;
    padding: 80px;
    width:  100%;
    .form-title {
      // position: absolute;
      color: hsl(0,0,10);
      font-size: 4rem;
    }
    form {
      padding: 50px 0;
      fieldset.main-fieldset {
        border-radius: 30px;
        padding: 50px 25px 0px;
        border: 5px solid hsl(3,60,25);
        .form-grid {
          display: grid;
          grid-gap: 20px;     
          grid-template-columns: 250px auto;
          grid-template-rows: 75px 300px 75px;
          fieldset {
            border: 3px solid white;
            border-radius: 30px;
            padding: 5px 20px;
            transition: color .3s ease-in-out;
            &:hover {
              color: white;
            }
          }
          legend {
            font-size: 22px;
            padding: 0 10px;
          }
          input {
            position: relative;
            top: 0;
            background-color: transparent;
            border-radius: 10px;
            border-color: transparent;
            font-size: 24px;
            // height: 50px;
            // margin: 10px 0 30px;
            margin: 0;
            padding-left: 5px;
            width: 100%;
            color: white;
            &:focus {
              outline-style: none;
            }
          }
          .recipe-name {
            grid-area: 1;
            grid-column: 1 / 3;
          }                          
          .recipe-list {
            grid-area: 2;
            grid-column: 1 / 2;
            textarea[name="ingredient-list"] {
              // resize: vertical; max-height: 350px; min-height: 300px;
              // background: rgb(223, 223, 223);
              // margin: 10px 0 30px;
              background-color: transparent;
              border-color: transparent;
              color: white;
              font-size: 24px;
              height: 230px;
              // padding: 5px;
              resize: none; 
              width: 100%;
              &:focus {
                outline-style: none;
              }
            }
          }
          .recipe-inst {
            textarea[name="instruction"] {
              // background: rgb(223, 223, 223);
              // margin: 10px 0 30px;
              background-color: transparent;
              border-color: transparent;
              border-radius: 2px;
              font-size: 24px;
              grid-area: 2;
              grid-column: 2 / 3;
              height: 230px;
              padding: 5px;
              resize: none; 
              width: 100%;
              color: white;
              &:focus {
                outline-style: none;
              }
            }
          }
          // Add-Link Input
          .add-link {
            color: white;
            grid-area: 3;
            grid-column: 1 / 3;
            @include centered();
            input {
              @include centered();
            }
            input::placeholder {
              color: #999;
            }
          }
        // /.form-grid
        }
        //SUBMIT BUTTON
        input.form-button[type="submit"] {
          background: hsl(3,60,25);
          border-radius: 7px;
          color: white;
          cursor: pointer;
          filter: drop-shadow(0px 5px 2px hsl(0,0,25));
          font-size: 30px;
          left: 50%;
          letter-spacing: .1rem;
          opacity: .98;
          padding: 10px;
          position: relative;
          text-transform: uppercase;
          top: 60px;
          transform: translate(-50%, -50%);
          transition: all .3s ease-in-out;
          width: 30%;
          &:hover {
            background: hsl(3,60,19);
            opacity: 1;
            filter: drop-shadow(0px 0px 0px transparent);
          }
        // /Submit Button
        }
      // /fieldset
      }
    // /form
    }
  // /.form-container
  }

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

  footer.footer {
    align-items: center;
    background: hsl(0,0,20);
    color: rgb(255,255,255);
    display: flex;
    height: 50px;
    justify-content: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    width:  100%;
  }
// /.main-container
}


//===============================================================================-------------
// RESPONSIVE MEDIA
@media screen and (max-width: 1200px) {
  .main-container {
    width: auto;
  }
  .recipes-container {
    .recipes-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(3, 200px) !important;
    }
  }
  // form {
  //   fieldset {
  //     .form-grid {
  //       // input[type="submit"] {
  //       //   top: 93% !important;
  //       // }
  //     }
  //   // /fieldset
  //   }
  // // /form
  // }
// /Media (1200px)
}

@media screen and (max-width: 730px) {
  .main-container {
    width: auto;
  }
  .recipes-container {
    // padding: 80px 150px !important;
    .recipes-title h1 {
      font-size: 3rem;
      position: static;
      text-align: center;
    }
    .recipes-body {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-template-rows: repeat(6, 200px) !important;
      margin: 0 auto;
      width: 80%;
    }
  }
  section.form-container {
    padding: 20px;
    h1.form-title {
      font-size: 3rem !important;
      padding-top: 30px;
      text-align: center;
    }
    form.form {
      fieldset.main-fieldset {
        .form-grid {
          display: flex !important;
          flex-direction: column;
          fieldset.recipe-list {
            textarea {
              width: 100% !important;
            }
          }
          .add-link {
            input::placeholder {
              font-size: 18px;
            }
          }
          input.form-button[type="submit"] {
            width: 155px !important;
            // top: 150px !important;
          }
        // /.form-grid
        }
          // /fieldset
      }
      // /form
    }
  // /form-container
  }
// /Media (720px)
} 

@media screen and (max-width: 540px) {
  .main-container {
    width: auto;
    // padding: 0 !important;
  }
  .navbar-links {
    ul {
      li {
        font-size: 1rem !important;
        padding: 0 8px !important;
      }
    }
  }
  .title-container {
    .bg {
      height: 600px !important;
      // height: 80vh !important;
    }
    .main-title {
      h1 {
        font-size: 5rem !important;
      }
    }
  }
  .recipes-container {
    padding: 100px 5% 80px !important;
    .recipe-title {
      h1 {
        font-size: 2rem !important;
      }
    }
    .recipes-body {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-template-rows: repeat(6, 200px) !important;
      margin: 0 auto;
      width: 100%;
    }
  }
  section.form-container {
    form.form {
      fieldset.main-fieldset {
        input[type="submit"] {
          width: 155px !important;
          // top: 96% !important;
        }
      }
    // /form
    }
  // /.form-container
  }
// /Media (540px)
}

@media screen and (max-width: 480px) {
  // .main-container {
//      width: 400px;
  // }
  // .navbar-container {
//     // width: 50%;
//     li {
//       padding: 0 5px !important;
//     }
  // }
  // .main-title {
//     h1 {
//        font-size: 40px;
//     }
  // }
  .main-container {
    .recipes-container {
      recipe-title {
        font-size: 2rem !important;
      }
    }
  // /.main-container
  }  
// /Media (480px)
}