* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: hsl(0,0,20);
    scroll-behavior: smooth;
}

.main-container {
    margin: 0 auto;
    width: 1200px;
    filter: drop-shadow(0px 5px 5px hsl(0,0,10));
    .navbar-container {
        border-bottom: 1px solid hsl(0,0,10);
        // filter: drop-shadow(0px 5px 2px hsl(0,0,10));
        width: 100%;
        height: 50px;
        background: hsl(0,0,20);
        .navbar-links {
            width: 100%;
            ul {
                display: flex;
                justify-content: center;
                height: 50px;
                list-style: none;
                text-decoration: none;
                li {
                    align-self: center;
                    font-size: 18px;
                    padding: 0 30px;
                    a {
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        text-decoration: none;
                        color: hsl(0,0,90);
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: hsl(0,0,60);
                        }
                    }
                // /li    
                }
            // /ul    
            }
        // /.navbar-links
        }
    // /.navbar-container
    }
    
    .title-container {
        filter: drop-shadow(0px 5px 5px hsl(0,0,10));
        position: relative;
        border-bottom: 1px solid hsl(0,0,20);
        // height: 100vh;
        .bg {
            background-image: url("/IMG/6817673-spices-wallpaper.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: opacity(.5);
            height: 85vh;
        }
        .main-title {
            width: 100%;
            letter-spacing: .1rem;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(255,255,255);
            filter: drop-shadow(3px 5px 2px hsl(0,0,15));
            h1 {
                // font-family: serif;
                font-size: 6rem;
                font-weight: 300;
            }
        // /.title
        }
        button {
            // position: relative;
            // top: 50px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            letter-spacing: .1rem;
            font-size: 30px;
            opacity: .7;
            background: hsl(3,60,25);
            filter: drop-shadow(0px 5px 2px hsl(0,0,25));
            color: white;
            padding: 10px 15px;
            text-transform: uppercase;
            border-radius: 7px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
                background: hsl(3,60,19);
                opacity: .8;
                // box-shadow: none;
                filter: drop-shadow(0px 0px 0px transparent);
            }
        // /button
        }
    // /.title-container
    }

    .recipes-container {
        width: 100%;
        height: auto;
        background: hsl(0,0,60);
        padding: 80px;
        border-bottom: 1px solid hsl(0,0,5);
        box-shadow: 0px 2px 5px hsl(0,0,5);
        .recipes-title {
            position: absolute;
            font-size: 40px;
            padding-bottom: 60px;
            color: hsl(0,0,10);
        }
        .recipes-body {
            margin-top: 125px;
            justify-content: center;
            padding: 10px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 300px);
            grid-template-rows: repeat(2, 200px);
            .grid-item {
                padding: 10px;
                background: hsl(0,0,5);
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-radius: 10px;
                &:hover {
                    filter: drop-shadow(0px 10px 5px hsl(0,0,25));
                    filter: opacity(.6);
                }
            }
            .recipe1 {
                background-image:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url("/IMG/recipe1.jpg");
                background-image: url("/IMG/recipe1.jpg");
                background-size: cover;
                position: relative;
                // transition: all 1s ease-in-out;
                .test {
                    background-color: rgba(0,0,0,0.6);
                    color: #fff;
                    text-align: center;
                    padding: 10px 20px;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    position: absolute;
                    top: 120px;
                    left: 0px;
                }
                
            }
            .recipe2 {
                background-image: url("/IMG/recipe2.jpeg");
                background-size: cover;
            }
            .recipe3 {
                background-image: url("/IMG/recipe3.jpg");
                background-size: cover;
            }
            .recipe4 {
                background-image: url("/IMG/recipe4.jpg");
                background-size: cover;
            }
            .recipe5 {
                background-image: url("/IMG/recipe5.jpg");
                background-size: cover;
            }
            .recipe6 {
                background-image: url("/IMG/recipe6.jpg");
                background-size: cover;
            }
        }
    }

    .form-container {
        width: 100%;
        height: auto;
        padding: 80px;
        border-bottom: 1px solid hsl(0,0,5);
        background: hsl(0,0,40);
        .form-title {
             position: absolute;
            font-size: 40px;
            padding-bottom: 60px;
            color: hsl(0,0,10);
        }
        .form {
            padding-top: 50px;
            input {
                margin: 10px 0;
            }
        }
    }

    footer {
        color: rgb(255,255,255);
        width: 100%;
        height: 50px;
        background: hsl(0,0,20);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

// /.main-container
}


@media screen and (max-width: 1200px) {
    .main-container {
        width: auto;
    }
    .recipes-container {
        .recipes-body {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            grid-template-rows: repeat(3, 200px) !important;
        }
    }
}

@media screen and (max-width: 730px) {
    .main-container {
        width: auto;
        // padding: 0 !important;
    }
    .recipes-container {
        // padding: 80px 150px !important;
        .recipes-body {
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: repeat(6, 200px) !important;
            width: 80%;
            margin: 0 auto;
        }
    }
}


//=========================================================================
// RESPONSIVE MEDIA

@media screen and (max-width: 540px) {
    .main-container {
        width: auto;
        // padding: 0 !important;
    }
    .navbar-links {
        ul {
            li {
                padding: 0 8px !important;
                font-size: 1rem !important;
            }
        }
    }
    .title-container {
        .main-title {
            h1 {
                font-size: 4rem !important;
            }
        }
    }
    .recipes-container {
        padding: 80px 5% !important;
        .recipes-body {
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: repeat(6, 200px) !important;
            width: 100%;
            margin: 0 auto;
        }
    }
}

// @media screen and (max-width: 400px) {
//     .main-container {
//         width: 400px;
//     }
//     .navbar-container {
//         // width: 50%;
//         li {
//            padding: 0 5px !important;
//         }
//     }
//     .main-title {
//         h1 {
//             font-size: 40px;
//         }
//     }  
// }